#Host github.com
#  HostName        github.com
#  IdentityFile    ~/.ssh/id_rsa_github
#  User            git
Host gitlab
  HostName        gitlab.com
  IdentityFile    ~/.ssh/id_rsa_gitlab
  User            git
  TCPKeepAlive    yes
  identitiesonly  yes
